$width-100: 100%;
$width-1200:1200px;
$margin-center: 0 auto;

.mainContent{
    width: $width-1200;
    margin: $margin-center;
    .articleIndexContentIn{
        min-height: 300px;
        // 左侧
        .mainArticle{
            overflow: hidden;
            background: #fff;
            
        }
        // 右侧
        .mainSide{
            
        }
    }
}